<h1>Your current contacts are:</h1>

<ol>

	<%@sorted_contacts.each do |contact|%>
	<li>  
		<%=link_to contact.name, controller: "contacts", action: "show", id: contact.id  %>
		<%if contact.favorite == true %>
			<%=button_to "UNFAV", controller: "contacts", action: "change_favorite", id2: contact.id, favorite:false %>
		<% else %>
			<%=button_to "FAV", controller: "contacts", action: "change_favorite", id2: contact.id, favorite:true %>
		<%end%>
	</li>

	<%end%>

</ol>



<form action="/filter" method="post">
	<input type="text" name="contact[first_letter_searched]" placeholder="Search contacts by their first letter">
	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
	<button type="submit">FILTER</button>
</form>




<%=link_to "Add contact", "/new" %>