<h1>Information about <%=@requested_contact.name%>:</h1>
	<p>Email: <%=@requested_contact.email%></p>
	<p>Phone number: <%=@requested_contact.phonenumber%></p>
	<p>Address: <%=@requested_contact.address%></p>

<%=link_to "Go Home", "/"%>

